@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
h1{
    padding-bottom: 20px;
    padding-right: 150px;
    color: red;
}
h2{
    font-family: 'Kalam', cursive;
}
h3{
    font-family: 'Unica One', cursive;
    color: 
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
#banner{
    width: 901px;
    text-align: center;
    border: solid red 2px;
    height: 254px;
    padding : 10px;

}
#nav{
    white-space: nowrap;
    text-align: center;
    
}
#nav{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#nav a{
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px;
    padding-left: 15px;
    color: #00FFBF;
}
#nav a:hover{
    text-decoration: none;
    color: red;
}
#main{
    width: 700px;
    border: solid blue 2px;
    height: 500px;
    float: left;
}
#footer{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family:'VT323', monospace;
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    border: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
}



body{
background-image: url("https://i.stack.imgur.com/lmY0N.jpg");
background-size:1950px;
background-repeat: no-repeat;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
